/* Footer.css */
.footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 30px 20px;
  /* margin-top: 40px; */
  font-size: 0.9rem;
}
 .icon:hover {
  color: #0d6efd; /* Bootstrap primary color on hover */
  transition: 0.3s;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links a {
  color: #00bfff;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #ffffff;
}
